<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/site.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script src="/static/snuownd.js"></script>
</head>

<body class="site">
    <header>
        <h1><a href="/">SketchDaily</a></h1>
    </header>
    <main class="content">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div>Reddit post scheduler created for SketchDaily.</div>
        <div>
            <a href="https://github.com/peppage/reddit-post-scheduler">
                <img src="/static/GitHub-Mark-Light-32px.png" />
            </a>
        </div>
    </footer>
    <script src="/static/site.js"></script>
</body>

</html>