{% extends "base.html" %}

{% block content %}
    <div id="app">
        <router-view></router-view>
    </div>

    <script type="text/x-template" id="calendarList">
        <div class="ps-posts-list">
            <div class="post" v-for="d in dates">
                <span v-html="d.display"></span>
                <div v-for="p in d.posts" v-if="d.posts.length > 0">
                    <span v-html="p.title"></span>
                    <span>
                        <router-link :to="'/post/'+p.id">Edit</router-link>
                    </span>
                </div>
                <div v-if="d.posts.length === 0">
                    <router-link :to="'/post/new?d=' + d.query">Add a theme!</router-link>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="post">
        <div class="ps-post">
            <h1>Schedule a theme</h1>
            <div>
                <label>User:</label>
                <input type="text" name="user" v-model="user">
            </div>
            <div>
                <label>Title</label>
                <input type="text" name="title" v-model="title">
            </div>
            <div>
                <label>Spoiler</label>
                <input type="text" name="spoiler" v-model="spoiler">
            </div>
            <div>
                <label>Text</label>
                <textarea v-model="text"></textarea>
            </div>
            <div>
                <label>Date</label>
                <input type="text" name="date" v-model="date">
            </div>

            <button @click="savePost">Submit</button>
        </div>
    </script>
    
{% endblock %}