{% extends "base.html" %}

{% block content %}
    <div id="app">
        <router-view></router-view>
    </div>

    <script type="text/x-template" id="calendarList">
        <div class="ps-posts-list">
            <div class="post" v-for="d in dates">
                <h3 v-html="d.display"></h3>
                <div v-if="d.posts.length > 1" class="error">
                    Error: Too many posts in one day!
                </div>
                <div v-for="p in d.posts" v-if="d.posts.length > 0">
                    <span v-html="p.title"></span>
                    <span>
                        <router-link :to="'/post/'+p.id">Edit</router-link>
                    </span>
                </div>
                <div v-if="d.posts.length === 0">
                    <router-link :to="'/post/new?d=' + d.query" class="button">Add a theme!</router-link>
                </div>
            </div>
            <div class="buttons">
                <button @click="prevPage">Past 14 days</button>
                <button @click="nextPage">Next 14 days</button>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="post">
        <div class="">
            <div class="ps-post">
                <h1>Schedule a theme for <span v-html="prettyDate"></span></h1>
                <div>
                    <label>User:</label>
                    <input type="text" name="user" v-model="user">
                </div>
                <div>
                    <label>Title</label>
                    <input type="text" name="title" v-model="title">
                </div>
                <div>
                    <label>Spoiler</label>
                    <input type="text" name="spoiler" v-model="spoiler">
                </div>
                <div>
                    <label>Text</label>
                    <textarea v-model="text"></textarea>
                </div>
                <div>
                    <label>Date</label>
                    <input type="text" name="date" v-model="date">
                </div>

                <button @click="savePost">Submit</button>
            </div>
            <div class="ps-format-instructions">
                <pre>
*italics*
**bold**
super^script
~~strikethrough~~
[reddit!](http://reddit.com)
(tab or 4 spaces)preformatted text
blah blah `inline code text` blah blah
\*escape the formatting syntax\*
                </pre>
                <div class="ps-post-preview">
                    <h3>Preview</h3>
                    <div v-html="formattedText">
                    </div>
                </div>
            </div>
        </div>
    </script>
    
{% endblock %}